{% extends "app/layout.html" %}

{% block content %}
<div class="article-container">
    <h2>{{ title }}</h2>

    <address>
        This page was created as project for Embedded Systems classes made by Mechatronic Engineering student at Faculty of Mechanical Engineering and Robotics.
        Project was done at AGH University of Science and Technology in Cracow. Contact information for the author of the project is listed below.
    </address>

    <address>
        <strong>Project github:</strong> <a href="https://github.com/Spectyte5/Device_Status_Checker">Github</a><br />
        <strong>Author:</strong>   <a href="mailto:rwrobel@student.agh.edu.pl">rwrobel@student.agh.edu.pl</a><br />
    </address>
</div>
    {% endblock %}